@import url("httpS://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@500&family=Lexend+Deca:wght@700&display=swap");

/*Desktop Navigation*/
@media screen and (max-width: 1440px) {
  body {
    font-size: 30px;
  }
}

/*Laptop Small*/
@media screen and (max-width: 1024px) {
  body {
    font-size: 25px;
  }
}

/* Tablet*/
@media screen and (max-width: 768px) {
  body {
    font-size: 20px;
  }
}

/*Mobile Navigation*/
@media screen and (max-width: 375px) {
  body {
    font-size: 15px;
  }
}

main {
  margin: 0px 70px;
  background-color: hsl(0, 0%, 95%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.Sed {
  background-color: hsl(31, 77%, 52%);
}

.Suv {
  background-color: hsl(184, 100%, 22%);
}

.Lux {
  background-color: hsl(179, 100%, 13%);
}

img {
  padding-left: 20px;
  padding-top: 20px;
}

h2 {
  padding: 20px;
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display", "cursive";
  font-weight: 700;
}

button {
  margin: 20px;
  border-radius: 2rem;
  text-align: center;
  padding: 10px;
  border: 0px;
  background-color: (0, 0%, 95%);
}

.seds {
  color: rgb(209, 139, 8);
}

.suvs {
  color: hsl(184, 100%, 22%);
}

.luxs {
  color: hsl(179, 100%, 13%);
}

p {
  padding: 10px;
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400px;
  text-overflow: initial;
}


/*grid.html styling*/

.grid{
  display: flex;
  place-items: center;
  min-height: 100vh;

}

.grid-container{
  display: grid;
  grid-template-areas: 
  'A A B'
  'C D D'
  'C E E';

  gap:10px;
  background-color: rgb(2, 2, 27);
  padding: 20px;
  width: 50%;
  margin: auto;
}


  

.item1{
  grid-area: A;
  background-color: red;
  padding: 32px;
  
}

.item2{
  grid-area: B;
  background-color: orange;
  padding: 32px;
  
}

.item3{
  grid-area: C;
  background-color: green;
  padding: 32px;
  
}

.item4{
  grid-area: D;
  background-color: rgb(0, 153, 255);
  padding: 20px;
}

.item5{
  grid-area: E;
  background-color: rgb(0, 153, 255);
  padding: 20px;
}

